// FONTS

$main-font: "Raleway", sans-serif;

$text-font: "OpenSans", sans-serif;


// COLORS

$main-color-site: #1ab798;
$first-color-text: #282528;
$second-color-text: #ffffff;

$bth-hov-color-site: #20ddb7;

//
$color-menu: #7e7c7e;
$color-line: #babdc1;

// key features
$color-title-video: #222222;
$color-bg-icon: #0098cd;

// our team
$color1-text-our-team: #384d5c;
$color-icon-bg: #0f715f;
$color-employee-name: #062033;
$color-employee-position: #73828d;

//reviews (what our customers say)
$color-element-custom-say: #efefef;
$color-point-slide: #d4d3d4;
$color-text-form: #cdcdcd;
$color-bg-btn-download: #31d4e7;
$color-text_and_line-footer: #8d8d8d;
$color-text-contact: #bface2;
$color-text-footer: #939393;
